.query {
    position:fixed;
    top: 10rem;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    right: 50%;
    text-align: center;
    animation: form-appears 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.lbox {
  margin-top: 2rem;
}

.lookup {

  margin-top: 14rem;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  right: 50%;
  text-align: center;
}

.infopanel {
 position: inherit;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  right: 50%;
  clear: both;
  text-align: center;
  width: 50%;
}

.infopanel h2 {
  background-color:steelblue;
}

.infopanel h3 {
  background-color: lightsteelblue;
}

  @keyframes form-appears {
    from {
      opacity: 0;
      transform:translate(7rem,7rem)
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
      transform: translateX(0);
    }
  }