.query {
    position:inherit;
    top: 10rem;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    right: 50%;
    text-align: center;
    animation: form-appears 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.lbox {
  margin-top: 2rem;
}

.lookup {
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  right: 50%;
  text-align: center;
}

.infopaneld, .infopanelp {
  position: inherit;
   margin-left: 0.5rem;
   margin-right: 0.5rem;
   clear: both;
   text-align: center;
   border-style:dotted;
   border-radius: 0.75rem;
   border-color:rgba(176, 196, 222, 0.5);
   padding: 0.1rem 0.7rem;
 }

.infopanel {
 position: inherit;
  margin-top: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  left: 50%;
  right: 50%;
  clear: both;
  text-align: center;
  display:inline-grid;
  border-style:dotted;
  border-radius: 0.75rem;
  border-color:rgba(176, 196, 222, 0.5);
  padding: 0.1rem 0.7rem;
}

.infopaneld h2 {
  background-color:steelblue;
}

.infopanelp h2 {
  background-color:tomato;
}

.infopanel h3 {
  background-color: lightsteelblue;
}

.query {
  text-shadow: 1px;
  text-decoration: wavy;
  font-size: 8pt;
}

ul {
  list-style-type: none;
  text-align: left;
}

  @keyframes form-appears {
    from {
      opacity: 0;
      transform:translate(7rem,7rem)
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
      transform: translateX(0);
    }
  }